@model string
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>Ошибка при вызове метода: @Html.DisplayFor(model => model)</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Вернуться на главную</a>
</div>