@{
    ViewData["Title"] = "TaskCollector";
}

<div class="text-center">
    <div>Logo</div>
    <div class="align-content-center btn-group-justified">
        <div class="col-sm-6 btn-group mt-1 mb-1">
            <a href="/Message/Index" class="btn btn-dark" id="WorkBeginButton">Начать работу</a>
        </div>
        <div class="col-sm-6 btn-group mt-1 mb-1">
            <a href="/Account/Login" class="btn btn-dark" id="AuthButton">Авторизация</a>
        </div>
        <div class="col-sm-6 btn-group mt-1 mb-1">
            <a href="/Home/Deploy" class="btn btn-dark" id="DeployButton">Развернуть/обновить базу данных</a>
        </div>
        <div class="col-sm-6 btn-group mt-1 mb-1">
            <a href="/Home/About" class="btn btn-dark" id="AboutButton">О программе</a>
        </div>
        <div class="col-sm-6 btn-group mt-1 mb-1">
            <a href="/Home/SendReport" class="btn btn-dark" id="FeedBackButton">Обратная связь</a>
        </div>
     </div>
</div>
