<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="TaskCollector" ?>
  <?define ProductVersion="0.0.0.1" ?>
  <?define ProductCode="b7bc7c6f-9a4e-4973-be84-eca8e3427c90"?>
  <?define UpgradeCode="06a81104-1e30-463d-87e1-e8a79b4c6820"?>
  <?define Manufacturer="DmitriyRokoth"?>
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="TaskCollector_Project" />
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>
	</Product>

  <Fragment>
		
	</Fragment>
    
  
    
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
				<Directory Id="ProgramMenuFolder">
					<Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
				</Directory>
				<Directory Id="DesktopFolder" Name="Desktop"/>
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f1">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.ProductName).exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
		 <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d12">
			 <Shortcut Id="ApplicationDesktopShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.ProductName).exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
    
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">			
			 <!--<Component Id="ProductComponent"> 
				
			 </Component>-->
		</ComponentGroup>
	</Fragment>
</Wix>
