@model IEnumerable<TaskCollector.Contract.Model.Message>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.Id)</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>                
                
                <td>
                    @Html.ActionLink("Редактировать", "Details", "Message", new { id = item.Id }, new { @class = "btn btn-dark" })
                    @Html.ActionLink("Удалить", "Delete", "Message", new { id = item.Id }, new { @class = "btn btn-dark" })
                </td>
            </tr>
        }
    </tbody>
</table>
